.Content {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}

.Grid {
  display: flex;
  justify-content: center;
  width: 100%;
}

.GridCol {
  display: flex;
  grid-template-columns: auto auto auto;
  flex-direction: column;
  margin: 2rem;
  width: 30%;
}

.GridItem {
  padding: 1rem;
  font-size: 30px;
  text-align: center;
}

/*
* Overwrite Polaris CSS
*/

.Polaris-Button__Icon:last-child {
  margin: 0 !important;
}

.Polaris-Button {
  border: none !important;
}

.Polaris-MediaCard {
  display: block !important;
}

@media (max-width: 800px) {
  .GridContainer {
    flex-direction: column;
  }
  .GridCol {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .Content {
    padding: 0rem;
  }
}
